{
    "extends": [
      "eslint-config-airbnb-base",
      "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "rules": {
      "max-len": [2, 150, 2, {
        "ignoreUrls": true,
        "ignoreComments": false
      }]
    },
    "ecmaFeatures": {
        "blockBindings": true,
        "jsx": true
      }
  }