.item-price-amount{
    font-size: 25px;
    font-weight: 300;
  }
.item-price-cents{
    font-size: 16px;
    vertical-align: text-bottom;
    line-height: 25px;
    margin-left: 3px;
}
.item-title{
    font-size: 20px;
    font-weight: 400;
}
.thumbnail{
    width: 100%;
    height: 150px;
    object-fit: cover;
}